# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# next
/client/.next
/.next
.next


# dependencies
/client/node_modules
/shop-app/node_modules
/node_modules
/client/.pnp
/.pnp
.pnp.js

# testing
/client/coverage
/coverage

# production
/client/build
/build

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*