:root {
  --primary-brand: #16bcdc;
  --primary-brand-dark: #0695b1;
  --bg-light: #f7f7f7;
  --bg-error: #f6c2be;
  --red-light: #f44336;
  --text-color: #212529;
  --text-color-invert: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-light);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 14px;
}

h1 {
  font-size: 26px;
  border-bottom: 3px solid var(--primary-brand);
  display: inline-block;
  margin-bottom: 50px;
}

h2 {
  font-size: 20px;
  margin-bottom: 5px;
}