header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-brand);
    padding: 20px;
}

header img {
    max-width: 120px;
}

.order-container p {
    color: var(--text-color-invert);
    font-size: 18px;
    font-weight: 700;
    margin: 5px 0;
}